@mixin generateVariants($base) {
	.#{$base} {
		&--disabled {
			cursor: not-allowed;
			opacity: var(--#{$base}-disabled-opacity, var(--disabled-opacity));
		}
		&--rounded {
			border-radius: var(
				--#{$base}-rounded-radius,
				var(--rounded-radius)
			);
		}
		&--outlined {
			border-width: 1px;
			border-style: solid;
		}
		&--raised {
			box-shadow: var(--#{$base}-raised-shadow, var(--raised-shadow));
		}
	}
}
