.demo-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.demo-container > div:not([class]) {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.ripple {
  border-radius: var(--border-radius);
  position: relative;
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
