.collapsible-header {
  cursor: pointer;
}
.collapsible-header h3,
.collapsible-header h4 {
  display: inline;
}
.collapsible-header:first-letter {
  text-transform: capitalize;
}
.vp-doc .full-width > * {
  width: 100%;
}
.vp-doc .d-table > * {
  display: table;
}

.vp-doc .d-table tbody tr td {
  padding: 4px;
}
pre {
  max-height: 600px;
}
.header-anchor {
  display: none;
}
.go-to-top {
  display: block !important;
  background-color: var(--vp-code-bg) !important;
  color: var(--vp-c-text-1) !important;
}
.text--green {
  color: var(--vp-code-line-diff-add-symbol-color);
}
.custom-block.collapse {
  margin: 8px 0;
}
